@import "mixins";

.application-title-wrapper{
  text-align: center;
}

#application-title{
  display: inline-block;
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(30);
      padding: 0;
      background-image: image-url("logo.svg");
      background-size: cover;
      height: rem-calc(74);
      width: rem-calc(500);
 
}
