@function bcn-icon-image-url($name){
  @return image-url("icons/#{$name}.svg");
}

@mixin bcn-icon-background($name){
  background-image: bcn-icon-image-url($name);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin bcn-icon($name, $size: 1.5em){
  width: $size;
  height: $size;
  vertical-align: middle;
  margin-top: rem-calc(-5);

  @include bcn-icon-background($name);
  display: inline-block;
}

$icons: activitat ajuntament campana cor correu dit_assenyala doc
                  doc_llapis facebook fletxa google_plus info
                  localitzacio lupa ma ma_no_ok ma_ok ma_perfecte megafon nuvol
                  planol sol twiter usuari xat_blanc xat_gris
                  dit_assenyala_vermell meetings citizens organizations
                  xat xat_cor xat_perso bombeta doc_mes propostes confluencia
                  plural feminisme garanties territori transparencia no_telegram
                  participacio comunicacio municipalisme moviments;

@each $icon in $icons{
  .bcn-icon-#{$icon}{
    @include bcn-icon($icon);
  }
}
