<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h2>Termes d’accés</h2>
        <p>Per verificar el compte cal tenir 16 anys o més i estar empadronat a Cataluña aportant les dades indicades anteriorment, els quals seran contrastats pel sistema. Accepta donar el seu consentiment per contrastar aquesta informació. Les dades aportades no seran incorporades i tractades de cap altra manera que no sigui per la verificació de l'ús del portal.</p>
    </div>
  </div>
</div>
