<div class="page row-full">
  <div class="row">
    <div class="text small-12 column">
      <h2>Condiciones de acceso.</h2>
      <p>Para verificar la cuenta hay que tener 16 años o más y estar empadronado en Cataluña aportando los datos indicados anteriormente, los cuales serán contrastados por el sistema.</p>
      <p>Aceptando el proceso de verificación acepta dar su consentimiento para contrastar dicha información, así como medios de contacto que figuren en dichos ficheros.</p>
      <p>Los datos aportados no serán incorporados ni tratados de ninguna otra forma que no sea para la verificación de uso del portal.</p>
    </div>
  </div>
</div>
